block content
  h1= title
  h3 submitted works
  a(href='/') back to canvas
    div(style='text-align:center')
      for url in urls
        div(class='tile' )
          br
          div(id='side', style='width:20%; text-align:center; left:0%; position:absolute;')
            a(style='font-size:1.6em')= url.name
            br
            a= url.dateCreated
            br
            a approvals:
            a= url.approvals
          img(class='listImg', style='border:solid black 1px;', width=url.width, height=url.height, src= url.img_url)
