block content
  script(src='/hub/js/lib/jquery-2.0.0.min.js')
  script(src='/hub/js/list.js')
  a(href='/hub' style='position:fixed;') back to canvas
  h1(style='position:fixed;right:3%; top:-1%;') submitted works
  div(style='text-align:center')
    for url in urls
      div(class='tile')
        br
        div(id='side', style='width:20%; text-align:center; left:0%; position:absolute;')
          a(style='font-size:1.6em')= url.name
          br
          a= url.dateCreated
          br
          a approvals:
          button(class='id' id='#{url.id}')= url.approvals
        img(class='listImg', style='border:solid black 1px;', width=url.width, height=url.height, src= url.img_url)
